USE [MeetingManagementDb]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 05/02/19 12:32:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Addresses]    Script Date: 05/02/19 12:32:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Addresses](
	[AddressId] [int] IDENTITY(1,1) NOT NULL,
	[HouseNo] [nvarchar](max) NULL,
	[RoadNo] [nvarchar](max) NULL,
	[Block] [nvarchar](max) NULL,
	[Area] [nvarchar](max) NULL,
	[PostCode] [nvarchar](max) NULL,
	[CountryId] [int] NOT NULL,
	[DistrictId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Addresses] PRIMARY KEY CLUSTERED 
(
	[AddressId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 05/02/19 12:32:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 05/02/19 12:32:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 05/02/19 12:32:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 05/02/19 12:32:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 05/02/19 12:32:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Countries]    Script Date: 05/02/19 12:32:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Countries](
	[CountryId] [int] IDENTITY(1,1) NOT NULL,
	[CountryName] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Countries] PRIMARY KEY CLUSTERED 
(
	[CountryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 05/02/19 12:32:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[DepartmentId] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentName] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Departments] PRIMARY KEY CLUSTERED 
(
	[DepartmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Designations]    Script Date: 05/02/19 12:32:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Designations](
	[DesignationId] [int] IDENTITY(1,1) NOT NULL,
	[DesignationName] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Designations] PRIMARY KEY CLUSTERED 
(
	[DesignationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Discussions]    Script Date: 05/02/19 12:32:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Discussions](
	[DiscussionId] [int] IDENTITY(1,1) NOT NULL,
	[DiscussionText] [nvarchar](max) NULL,
	[MeetingId] [int] NOT NULL,
	[CreatedById] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedById] [int] NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_dbo.Discussions] PRIMARY KEY CLUSTERED 
(
	[DiscussionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Districts]    Script Date: 05/02/19 12:32:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Districts](
	[DistrictId] [int] IDENTITY(1,1) NOT NULL,
	[DistrictName] [nvarchar](max) NULL,
	[CountryId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Districts] PRIMARY KEY CLUSTERED 
(
	[DistrictId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 05/02/19 12:32:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeId] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeName] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[DepartmentId] [int] NOT NULL,
	[OfficeId] [int] NOT NULL,
	[DesignationId] [int] NOT NULL,
	[EmployeeTypeId] [int] NOT NULL,
	[EmployeeOfficialId] [nvarchar](10) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Employees] PRIMARY KEY CLUSTERED 
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeTypes]    Script Date: 05/02/19 12:32:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeTypes](
	[EmployeeTypeId] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeTypeName] [nvarchar](max) NULL,
	[EmployeeTypeDescription] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.EmployeeTypes] PRIMARY KEY CLUSTERED 
(
	[EmployeeTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Entertainments]    Script Date: 05/02/19 12:32:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Entertainments](
	[EntertainmentId] [int] IDENTITY(1,1) NOT NULL,
	[EntertainmentItem] [nvarchar](max) NULL,
	[Quantity] [int] NOT NULL,
	[MeetingId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Entertainments] PRIMARY KEY CLUSTERED 
(
	[EntertainmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExternalMembers]    Script Date: 05/02/19 12:32:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExternalMembers](
	[ExternalMemberId] [int] IDENTITY(1,1) NOT NULL,
	[ExternalMemberName] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
	[Profession] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.ExternalMembers] PRIMARY KEY CLUSTERED 
(
	[ExternalMemberId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Implementations]    Script Date: 05/02/19 12:32:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Implementations](
	[ImplementationId] [int] IDENTITY(1,1) NOT NULL,
	[ImplementationDescription] [nvarchar](max) NULL,
	[MeetingId] [int] NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[CreatedById] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedById] [int] NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_dbo.Implementations] PRIMARY KEY CLUSTERED 
(
	[ImplementationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Logistics]    Script Date: 05/02/19 12:32:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Logistics](
	[LogisticId] [int] IDENTITY(1,1) NOT NULL,
	[LogisticName] [nvarchar](max) NULL,
	[Availbale] [nvarchar](max) NULL,
	[VenueId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Logistics] PRIMARY KEY CLUSTERED 
(
	[LogisticId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MeetingAgendas]    Script Date: 05/02/19 12:32:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MeetingAgendas](
	[MeetingAgendaId] [int] IDENTITY(1,1) NOT NULL,
	[MeetingAgendaName] [nvarchar](max) NULL,
	[EmployeeId] [int] NOT NULL,
	[MeetingId] [int] NOT NULL,
	[CreatedById] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedById] [int] NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_dbo.MeetingAgendas] PRIMARY KEY CLUSTERED 
(
	[MeetingAgendaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MeetingExternalMembers]    Script Date: 05/02/19 12:32:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MeetingExternalMembers](
	[MeetingExternalMemberId] [int] IDENTITY(1,1) NOT NULL,
	[MeetingId] [int] NOT NULL,
	[ExternalMemberId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.MeetingExternalMembers] PRIMARY KEY CLUSTERED 
(
	[MeetingExternalMemberId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MeetingFileUploads]    Script Date: 05/02/19 12:32:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MeetingFileUploads](
	[MeetingFileUploadId] [int] IDENTITY(1,1) NOT NULL,
	[FileName] [nvarchar](max) NULL,
	[FilePath] [nvarchar](max) NULL,
	[MeetingId] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.MeetingFileUploads] PRIMARY KEY CLUSTERED 
(
	[MeetingFileUploadId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MeetingLoggers]    Script Date: 05/02/19 12:32:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MeetingLoggers](
	[MeetingLoggerId] [int] IDENTITY(1,1) NOT NULL,
	[MeetingId] [int] NOT NULL,
	[VenueId] [int] NOT NULL,
	[BeginningTime] [datetime] NOT NULL,
	[EndTime] [datetime] NOT NULL,
	[Status] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.MeetingLoggers] PRIMARY KEY CLUSTERED 
(
	[MeetingLoggerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MeetingMembers]    Script Date: 05/02/19 12:32:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MeetingMembers](
	[MeetingMemberId] [int] IDENTITY(1,1) NOT NULL,
	[MeetingId] [int] NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[Attendance] [int] NOT NULL,
	[BeginningTime] [datetime] NOT NULL,
	[EndTime] [datetime] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedById] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedById] [int] NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_dbo.MeetingMembers] PRIMARY KEY CLUSTERED 
(
	[MeetingMemberId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MeetingResults]    Script Date: 05/02/19 12:32:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MeetingResults](
	[MeetingResultId] [int] IDENTITY(1,1) NOT NULL,
	[Announcement] [nvarchar](max) NULL,
	[Result] [nvarchar](max) NULL,
	[Status] [nvarchar](max) NULL,
	[EmployeeId] [int] NOT NULL,
	[MeetingId] [int] NOT NULL,
	[CreatedById] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedById] [int] NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_dbo.MeetingResults] PRIMARY KEY CLUSTERED 
(
	[MeetingResultId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Meetings]    Script Date: 05/02/19 12:32:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Meetings](
	[MeetingId] [int] IDENTITY(1,1) NOT NULL,
	[MeetingName] [nvarchar](max) NULL,
	[BeginningTime] [datetime] NOT NULL,
	[EndTime] [datetime] NOT NULL,
	[MeetingDescription] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[VenueId] [int] NOT NULL,
	[Approval] [bit] NOT NULL,
	[CreatedById] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedById] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Meetings] PRIMARY KEY CLUSTERED 
(
	[MeetingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Offices]    Script Date: 05/02/19 12:32:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Offices](
	[OfficeId] [int] IDENTITY(1,1) NOT NULL,
	[OfficeName] [nvarchar](max) NULL,
	[AddressId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Offices] PRIMARY KEY CLUSTERED 
(
	[OfficeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SecResourcePermissions]    Script Date: 05/02/19 12:32:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SecResourcePermissions](
	[SecResourcePermissionId] [int] IDENTITY(1,1) NOT NULL,
	[SecRoleId] [int] NOT NULL,
	[SecResourceId] [int] NOT NULL,
	[FileName] [nvarchar](max) NULL,
	[MenuName] [nvarchar](max) NULL,
	[DisplayName] [nvarchar](max) NULL,
	[ModuleId] [int] NOT NULL,
	[Order] [int] NOT NULL,
	[Level] [int] NOT NULL,
	[ActionUrl] [nvarchar](max) NULL,
	[Status] [bit] NOT NULL,
	[Parent_SecResourcePermissionId] [int] NULL,
 CONSTRAINT [PK_dbo.SecResourcePermissions] PRIMARY KEY CLUSTERED 
(
	[SecResourcePermissionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SecResources]    Script Date: 05/02/19 12:32:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SecResources](
	[SecResourceId] [int] IDENTITY(1,1) NOT NULL,
	[FileName] [nvarchar](max) NULL,
	[MenuName] [nvarchar](max) NULL,
	[DisplayName] [nvarchar](max) NULL,
	[ModuleId] [int] NOT NULL,
	[Order] [int] NOT NULL,
	[Level] [int] NOT NULL,
	[ActionUrl] [nvarchar](max) NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.SecResources] PRIMARY KEY CLUSTERED 
(
	[SecResourceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SecRolePermissions]    Script Date: 05/02/19 12:32:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SecRolePermissions](
	[SecRolePermissionId] [int] IDENTITY(1,1) NOT NULL,
	[Add] [bit] NOT NULL,
	[Edit] [bit] NOT NULL,
	[Delete] [bit] NOT NULL,
	[SecResourceId] [int] NOT NULL,
	[SecRoleId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.SecRolePermissions] PRIMARY KEY CLUSTERED 
(
	[SecRolePermissionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SecRoles]    Script Date: 05/02/19 12:32:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SecRoles](
	[SecRoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
	[Status] [bit] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedBy] [int] NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_dbo.SecRoles] PRIMARY KEY CLUSTERED 
(
	[SecRoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SecUserRoles]    Script Date: 05/02/19 12:32:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SecUserRoles](
	[SecUserRoleId] [int] IDENTITY(1,1) NOT NULL,
	[SecRoleId] [int] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedBy] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[SecUserId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.SecUserRoles] PRIMARY KEY CLUSTERED 
(
	[SecUserRoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SecUsers]    Script Date: 05/02/19 12:32:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SecUsers](
	[SecUserId] [int] IDENTITY(1,1) NOT NULL,
	[LoginName] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[Status] [bit] NOT NULL,
	[EmailId] [nvarchar](254) NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedBy] [int] NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_dbo.SecUsers] PRIMARY KEY CLUSTERED 
(
	[SecUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Venues]    Script Date: 05/02/19 12:32:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Venues](
	[VenueId] [int] IDENTITY(1,1) NOT NULL,
	[VenueName] [nvarchar](max) NULL,
	[Capacity] [nvarchar](max) NULL,
	[VenueType] [int] NOT NULL,
	[AddressId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Venues] PRIMARY KEY CLUSTERED 
(
	[VenueId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Addresses] ON 

INSERT [dbo].[Addresses] ([AddressId], [HouseNo], [RoadNo], [Block], [Area], [PostCode], [CountryId], [DistrictId]) VALUES (1, N'Level 12', N'Kawranbazar Road', N'Sector 10', N'Kazi Nazrul Islam Avenue', N'1215', 18, 1)
INSERT [dbo].[Addresses] ([AddressId], [HouseNo], [RoadNo], [Block], [Area], [PostCode], [CountryId], [DistrictId]) VALUES (2, N'2', N'3', N'A', N'Kawranbazar', N'1212', 18, 12)
SET IDENTITY_INSERT [dbo].[Addresses] OFF
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'fb95feb6-5c79-4fc5-9344-d0d9066bcfaa', N'shalauddin99@gmail.com', 0, N'ABhnhwEDsRvTAnvgC3MitoNHBJ2IxyAJ6gtutCawM0ik6hrGsz4MTUZLJFd8nHKbpA==', N'1d91dac1-df32-4699-a4e3-b29985704c27', NULL, 0, 0, NULL, 1, 0, N'shalauddin99@gmail.com')
SET IDENTITY_INSERT [dbo].[Countries] ON 

INSERT [dbo].[Countries] ([CountryId], [CountryName]) VALUES (1, N'Afghanistan')
INSERT [dbo].[Countries] ([CountryId], [CountryName]) VALUES (2, N'Albania')
INSERT [dbo].[Countries] ([CountryId], [CountryName]) VALUES (3, N'Bangladesh')
GO
SET IDENTITY_INSERT [dbo].[Countries] OFF
SET IDENTITY_INSERT [dbo].[Departments] ON 

INSERT [dbo].[Departments] ([DepartmentId], [DepartmentName]) VALUES (136, N'IT')
INSERT [dbo].[Departments] ([DepartmentId], [DepartmentName]) VALUES (147, N'HR')
INSERT [dbo].[Departments] ([DepartmentId], [DepartmentName]) VALUES (179, N'Business Development')
SET IDENTITY_INSERT [dbo].[Departments] OFF
SET IDENTITY_INSERT [dbo].[Designations] ON 

INSERT [dbo].[Designations] ([DesignationId], [DesignationName]) VALUES (1, N'CEO')
INSERT [dbo].[Designations] ([DesignationId], [DesignationName]) VALUES (2, N'Intern')
INSERT [dbo].[Designations] ([DesignationId], [DesignationName]) VALUES (3, N'Manager')
SET IDENTITY_INSERT [dbo].[Designations] OFF
SET IDENTITY_INSERT [dbo].[Discussions] ON 

INSERT [dbo].[Discussions] ([DiscussionId], [DiscussionText], [MeetingId], [CreatedById], [CreatedDate], [ModifiedById], [ModifiedDate]) VALUES (1007, N'<span style="font-size:28px;color: rgb(255, 0, 0);"><span style="color: rgb(255, 0, 0); font-size: 28px;">Allah <span style="color: rgb(0, 0, 0); font-size: 28px;">is</span>&nbsp;</span><span style="color: rgb(56, 118, 29); font-size: 28px;">Almighty .</span>', 5, 69, CAST(N'1900-01-01T00:00:00.000' AS DateTime), 69, CAST(N'2019-05-02T11:16:34.857' AS DateTime))
INSERT [dbo].[Discussions] ([DiscussionId], [DiscussionText], [MeetingId], [CreatedById], [CreatedDate], [ModifiedById], [ModifiedDate]) VALUES (1033, N'<h2><span style="color:rgb(106,168,79);"><b style="color:rgb(106,168,79);"><i style="color:rgb(106,168,79);">Abc</i></b></span></h2>', 5, 70, CAST(N'1900-01-01T00:00:00.000' AS DateTime), NULL, NULL)
INSERT [dbo].[Discussions] ([DiscussionId], [DiscussionText], [MeetingId], [CreatedById], [CreatedDate], [ModifiedById], [ModifiedDate]) VALUES (1034, N'<h3><span style="color:rgb(159,197,232);"><b style="color:rgb(159,197,232);"><i style="color:rgb(159,197,232);">BCD</i></b></span></h3>', 5, 71, CAST(N'1900-01-01T00:00:00.000' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[Discussions] OFF
SET IDENTITY_INSERT [dbo].[Districts] ON 

INSERT [dbo].[Districts] ([DistrictId], [DistrictName], [CountryId]) VALUES (1, N'Dhaka', 18)
INSERT [dbo].[Districts] ([DistrictId], [DistrictName], [CountryId]) VALUES (2, N'Faridpur', 18)
INSERT [dbo].[Districts] ([DistrictId], [DistrictName], [CountryId]) VALUES (3, N'Gazipur', 18)
SET IDENTITY_INSERT [dbo].[Districts] OFF
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([EmployeeId], [EmployeeName], [Email], [PhoneNumber], [Address], [Password], [DepartmentId], [OfficeId], [DesignationId], [EmployeeTypeId], [EmployeeOfficialId], [IsActive]) VALUES (69, N'Kazi Shalauddin', N'shalauddin99@gmail.com', N'019100000000', N'Dhaka', N'nontefonte', 180, 1, 2, 1, NULL, 0)
INSERT [dbo].[Employees] ([EmployeeId], [EmployeeName], [Email], [PhoneNumber], [Address], [Password], [DepartmentId], [OfficeId], [DesignationId], [EmployeeTypeId], [EmployeeOfficialId], [IsActive]) VALUES (70, N'Pavel Bhai', N'ahsan.zahid@systechdigital.com', N'017876767676', N'Dhaka', N'kelepocha', 180, 8, 4, 2, NULL, 0)
INSERT [dbo].[Employees] ([EmployeeId], [EmployeeName], [Email], [PhoneNumber], [Address], [Password], [DepartmentId], [OfficeId], [DesignationId], [EmployeeTypeId], [EmployeeOfficialId], [IsActive]) VALUES (71, N'Naimul Ferdous', N'ferdousnaimul@gmail.com.com', N'01987345678', N'Uttara', N'gopal', 180, 1, 2, 2, NULL, 0)
SET IDENTITY_INSERT [dbo].[Employees] OFF
SET IDENTITY_INSERT [dbo].[EmployeeTypes] ON 

INSERT [dbo].[EmployeeTypes] ([EmployeeTypeId], [EmployeeTypeName], [EmployeeTypeDescription]) VALUES (1, N'Internal', NULL)
INSERT [dbo].[EmployeeTypes] ([EmployeeTypeId], [EmployeeTypeName], [EmployeeTypeDescription]) VALUES (2, N'External', NULL)
SET IDENTITY_INSERT [dbo].[EmployeeTypes] OFF
SET IDENTITY_INSERT [dbo].[ExternalMembers] ON 

INSERT [dbo].[ExternalMembers] ([ExternalMemberId], [ExternalMemberName], [Email], [Phone], [Profession], [Address]) VALUES (2, N'Mamun Mollah', N'mamun@gmail.com', N'01897234890', N'Business Development', N'Uttara')
SET IDENTITY_INSERT [dbo].[ExternalMembers] OFF
SET IDENTITY_INSERT [dbo].[Implementations] ON 

INSERT [dbo].[Implementations] ([ImplementationId], [ImplementationDescription], [MeetingId], [EmployeeId], [CreatedById], [CreatedDate], [ModifiedById], [ModifiedDate]) VALUES (1, N'Implementation', 5, 69, 69, CAST(N'2019-05-02T11:15:28.167' AS DateTime), 69, CAST(N'2019-05-02T11:15:58.313' AS DateTime))
SET IDENTITY_INSERT [dbo].[Implementations] OFF
SET IDENTITY_INSERT [dbo].[Logistics] ON 

INSERT [dbo].[Logistics] ([LogisticId], [LogisticName], [Availbale], [VenueId]) VALUES (1, N'Alexa', N'02', 1)
SET IDENTITY_INSERT [dbo].[Logistics] OFF
SET IDENTITY_INSERT [dbo].[MeetingAgendas] ON 

INSERT [dbo].[MeetingAgendas] ([MeetingAgendaId], [MeetingAgendaName], [EmployeeId], [MeetingId], [CreatedById], [CreatedDate], [ModifiedById], [ModifiedDate]) VALUES (1, N'Test', 70, 5, 69, CAST(N'2019-05-02T11:12:27.517' AS DateTime), 69, CAST(N'2019-05-02T11:12:37.807' AS DateTime))
SET IDENTITY_INSERT [dbo].[MeetingAgendas] OFF
SET IDENTITY_INSERT [dbo].[MeetingFileUploads] ON 

INSERT [dbo].[MeetingFileUploads] ([MeetingFileUploadId], [FileName], [FilePath], [MeetingId], [IsDeleted]) VALUES (1, N'AES Math Full Solution.pdf', N'G:\code\ASP.NET\Systech\v1\meetingmanagement\MeetingManagementSystem\App_Data\AES Math Full Solution.pdf', 2, 0)
INSERT [dbo].[MeetingFileUploads] ([MeetingFileUploadId], [FileName], [FilePath], [MeetingId], [IsDeleted]) VALUES (2, N'AES Math Full Solution.pdf', N'G:\code\ASP.NET\Systech\v1\meetingmanagement\MeetingManagementSystem\App_Data\AES Math Full Solution.pdf', 2, 0)
INSERT [dbo].[MeetingFileUploads] ([MeetingFileUploadId], [FileName], [FilePath], [MeetingId], [IsDeleted]) VALUES (3, N'How to create multi-level menus dynamically in Asp.net MVC _ Tutorial Links.pdf', N'E:\Programming\Office\Metting Management_MVC\Meeting_Management\MeetingManagementSystem\App_Data\How to create multi-level menus dynamically in Asp.net MVC _ Tutorial Links.pdf', 7, 0)
SET IDENTITY_INSERT [dbo].[MeetingFileUploads] OFF
SET IDENTITY_INSERT [dbo].[MeetingLoggers] ON 

INSERT [dbo].[MeetingLoggers] ([MeetingLoggerId], [MeetingId], [VenueId], [BeginningTime], [EndTime], [Status]) VALUES (7, 2, 1, CAST(N'2018-12-17T13:00:00.000' AS DateTime), CAST(N'2018-12-18T14:00:00.000' AS DateTime), N'Assigned')
SET IDENTITY_INSERT [dbo].[MeetingLoggers] OFF
SET IDENTITY_INSERT [dbo].[MeetingMembers] ON 

INSERT [dbo].[MeetingMembers] ([MeetingMemberId], [MeetingId], [EmployeeId], [Attendance], [BeginningTime], [EndTime], [IsDeleted], [CreatedById], [CreatedDate], [ModifiedById], [ModifiedDate]) VALUES (8, 3, 69, 0, CAST(N'2018-12-20T14:00:00.000' AS DateTime), CAST(N'2018-12-20T17:00:00.000' AS DateTime), 0, 0, CAST(N'1900-01-01T00:00:00.000' AS DateTime), NULL, NULL)
INSERT [dbo].[MeetingMembers] ([MeetingMemberId], [MeetingId], [EmployeeId], [Attendance], [BeginningTime], [EndTime], [IsDeleted], [CreatedById], [CreatedDate], [ModifiedById], [ModifiedDate]) VALUES (10, 3, 71, 0, CAST(N'2018-12-20T14:00:00.000' AS DateTime), CAST(N'2018-12-20T17:00:00.000' AS DateTime), 0, 0, CAST(N'1900-01-01T00:00:00.000' AS DateTime), NULL, NULL)
INSERT [dbo].[MeetingMembers] ([MeetingMemberId], [MeetingId], [EmployeeId], [Attendance], [BeginningTime], [EndTime], [IsDeleted], [CreatedById], [CreatedDate], [ModifiedById], [ModifiedDate]) VALUES (11, 3, 72, 0, CAST(N'2018-12-20T14:00:00.000' AS DateTime), CAST(N'2018-12-20T17:00:00.000' AS DateTime), 0, 0, CAST(N'1900-01-01T00:00:00.000' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[MeetingMembers] OFF
SET IDENTITY_INSERT [dbo].[MeetingResults] ON 

INSERT [dbo].[MeetingResults] ([MeetingResultId], [Announcement], [Result], [Status], [EmployeeId], [MeetingId], [CreatedById], [CreatedDate], [ModifiedById], [ModifiedDate]) VALUES (3, N'hfh', N'ggc', N'vgg', 69, 7, 0, CAST(N'1900-01-01T00:00:00.000' AS DateTime), NULL, NULL)
INSERT [dbo].[MeetingResults] ([MeetingResultId], [Announcement], [Result], [Status], [EmployeeId], [MeetingId], [CreatedById], [CreatedDate], [ModifiedById], [ModifiedDate]) VALUES (4, N'Abc', N'Res', N'Status', 72, 5, 69, CAST(N'2019-05-02T11:14:09.360' AS DateTime), 69, CAST(N'2019-05-02T11:14:38.453' AS DateTime))
SET IDENTITY_INSERT [dbo].[MeetingResults] OFF
SET IDENTITY_INSERT [dbo].[Meetings] ON 

INSERT [dbo].[Meetings] ([MeetingId], [MeetingName], [BeginningTime], [EndTime], [MeetingDescription], [Status], [EmployeeId], [VenueId], [Approval], [CreatedById], [CreatedDate], [ModifiedById], [ModifiedDate], [IsDeleted]) VALUES (1, N'Personal Meeting', CAST(N'2018-12-13T15:00:00.000' AS DateTime), CAST(N'2018-12-13T21:00:00.000' AS DateTime), N'Meeting on Meeting management', 0, 71, 1, 0, 0, CAST(N'1900-01-01T00:00:00.000' AS DateTime), NULL, NULL, 0)
INSERT [dbo].[Meetings] ([MeetingId], [MeetingName], [BeginningTime], [EndTime], [MeetingDescription], [Status], [EmployeeId], [VenueId], [Approval], [CreatedById], [CreatedDate], [ModifiedById], [ModifiedDate], [IsDeleted]) VALUES (2, N'Official Meeting', CAST(N'2018-12-17T13:00:00.000' AS DateTime), CAST(N'2018-12-18T14:00:00.000' AS DateTime), N'Meeting on Artificial Intelligence', 0, 69, 1, 0, 0, CAST(N'1900-01-01T00:00:00.000' AS DateTime), NULL, NULL, 0)
INSERT [dbo].[Meetings] ([MeetingId], [MeetingName], [BeginningTime], [EndTime], [MeetingDescription], [Status], [EmployeeId], [VenueId], [Approval], [CreatedById], [CreatedDate], [ModifiedById], [ModifiedDate], [IsDeleted]) VALUES (3, N'Official Meeting', CAST(N'2018-12-20T14:00:00.000' AS DateTime), CAST(N'2018-12-20T17:00:00.000' AS DateTime), N'Meeting on Artificial Intelligence', 0, 69, 1, 0, 0, CAST(N'1900-01-01T00:00:00.000' AS DateTime), NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[Meetings] OFF
SET IDENTITY_INSERT [dbo].[Offices] ON 

INSERT [dbo].[Offices] ([OfficeId], [OfficeName], [AddressId]) VALUES (1, N'Systech Digital', 1)
INSERT [dbo].[Offices] ([OfficeId], [OfficeName], [AddressId]) VALUES (8, N'Systech Digital Ltd.', 1)
INSERT [dbo].[Offices] ([OfficeId], [OfficeName], [AddressId]) VALUES (10, N'SSS', 1)
SET IDENTITY_INSERT [dbo].[Offices] OFF
SET IDENTITY_INSERT [dbo].[SecResourcePermissions] ON 

INSERT [dbo].[SecResourcePermissions] ([SecResourcePermissionId], [SecRoleId], [SecResourceId], [FileName], [MenuName], [DisplayName], [ModuleId], [Order], [Level], [ActionUrl], [Status], [Parent_SecResourcePermissionId]) VALUES (180, 1011, 2, N'Department.cshtml', N'Department', N'বিভাগ', 1, 1, 26, N'/Department/Department', 1, NULL)
INSERT [dbo].[SecResourcePermissions] ([SecResourcePermissionId], [SecRoleId], [SecResourceId], [FileName], [MenuName], [DisplayName], [ModuleId], [Order], [Level], [ActionUrl], [Status], [Parent_SecResourcePermissionId]) VALUES (181, 1011, 3, N'Designation.cshtml', N'Designation', N'Designation', 1, 2, 26, N'/Designation/Designation', 1, NULL)
INSERT [dbo].[SecResourcePermissions] ([SecResourcePermissionId], [SecRoleId], [SecResourceId], [FileName], [MenuName], [DisplayName], [ModuleId], [Order], [Level], [ActionUrl], [Status], [Parent_SecResourcePermissionId]) VALUES (182, 1011, 4, N'Employee.cshtml', N'Employee', N'Employee', 1, 1, 0, N'/Employee/Employee', 1, NULL)
SET IDENTITY_INSERT [dbo].[SecResourcePermissions] OFF
SET IDENTITY_INSERT [dbo].[SecResources] ON 

INSERT [dbo].[SecResources] ([SecResourceId], [FileName], [MenuName], [DisplayName], [ModuleId], [Order], [Level], [ActionUrl], [Status]) VALUES (2, N'Department.cshtml', N'Department', N'বিভাগ', 1, 1, 26, N'/Department/Department', 1)
INSERT [dbo].[SecResources] ([SecResourceId], [FileName], [MenuName], [DisplayName], [ModuleId], [Order], [Level], [ActionUrl], [Status]) VALUES (3, N'Designation.cshtml', N'Designation', N'Designation', 1, 2, 26, N'/Designation/Designation', 1)
INSERT [dbo].[SecResources] ([SecResourceId], [FileName], [MenuName], [DisplayName], [ModuleId], [Order], [Level], [ActionUrl], [Status]) VALUES (4, N'Employee.cshtml', N'Employee', N'Employee', 1, 1, 0, N'/Employee/Employee', 1)
SET IDENTITY_INSERT [dbo].[SecResources] OFF
SET IDENTITY_INSERT [dbo].[SecRolePermissions] ON 

INSERT [dbo].[SecRolePermissions] ([SecRolePermissionId], [Add], [Edit], [Delete], [SecResourceId], [SecRoleId]) VALUES (1143, 1, 1, 1, 2, 1011)
INSERT [dbo].[SecRolePermissions] ([SecRolePermissionId], [Add], [Edit], [Delete], [SecResourceId], [SecRoleId]) VALUES (1144, 1, 1, 1, 3, 1011)
INSERT [dbo].[SecRolePermissions] ([SecRolePermissionId], [Add], [Edit], [Delete], [SecResourceId], [SecRoleId]) VALUES (1145, 1, 1, 1, 4, 1011)
SET IDENTITY_INSERT [dbo].[SecRolePermissions] OFF
SET IDENTITY_INSERT [dbo].[SecRoles] ON 

INSERT [dbo].[SecRoles] ([SecRoleId], [RoleName], [Status], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (1011, N'Admin', 0, 1, CAST(N'2019-05-02T12:10:46.200' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[SecRoles] OFF
SET IDENTITY_INSERT [dbo].[SecUserRoles] ON 

INSERT [dbo].[SecUserRoles] ([SecUserRoleId], [SecRoleId], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate], [SecUserId]) VALUES (1018, 1011, 1, CAST(N'2019-05-02T12:11:06.027' AS DateTime), NULL, NULL, 3)
SET IDENTITY_INSERT [dbo].[SecUserRoles] OFF
SET IDENTITY_INSERT [dbo].[SecUsers] ON 

INSERT [dbo].[SecUsers] ([SecUserId], [LoginName], [Password], [Status], [EmailId], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (1, N'faisal', N'123456', 1, N'faisal@gmail.com', 1, CAST(N'2019-01-28T01:48:36.900' AS DateTime), NULL, NULL)
INSERT [dbo].[SecUsers] ([SecUserId], [LoginName], [Password], [Status], [EmailId], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (2, N'Naimul', N'123456', 1, N'naimul@gmail.com', 1, CAST(N'2019-01-29T12:29:50.040' AS DateTime), NULL, NULL)
INSERT [dbo].[SecUsers] ([SecUserId], [LoginName], [Password], [Status], [EmailId], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (3, N'shalauddin', N'123456', 1, N'shalauddin99@gmail.com', 1, CAST(N'2019-03-07T12:04:39.840' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[SecUsers] OFF
SET IDENTITY_INSERT [dbo].[Venues] ON 

INSERT [dbo].[Venues] ([VenueId], [VenueName], [Capacity], [VenueType], [AddressId]) VALUES (1, N'Systech Digital Ltd.', N'20', 1, 1)
INSERT [dbo].[Venues] ([VenueId], [VenueName], [Capacity], [VenueType], [AddressId]) VALUES (2, N'BDBL', N'20', 2, 2)
SET IDENTITY_INSERT [dbo].[Venues] OFF
ALTER TABLE [dbo].[Discussions] ADD  DEFAULT ((0)) FOR [CreatedById]
GO
ALTER TABLE [dbo].[Discussions] ADD  DEFAULT ('1900-01-01T00:00:00.000') FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT ((0)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Implementations] ADD  DEFAULT ((0)) FOR [CreatedById]
GO
ALTER TABLE [dbo].[Implementations] ADD  DEFAULT ('1900-01-01T00:00:00.000') FOR [CreatedDate]
GO
ALTER TABLE [dbo].[MeetingFileUploads] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[MeetingMembers] ADD  DEFAULT ('1900-01-01T00:00:00.000') FOR [BeginningTime]
GO
ALTER TABLE [dbo].[MeetingMembers] ADD  DEFAULT ('1900-01-01T00:00:00.000') FOR [EndTime]
GO
ALTER TABLE [dbo].[MeetingMembers] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[MeetingMembers] ADD  DEFAULT ((0)) FOR [CreatedById]
GO
ALTER TABLE [dbo].[MeetingMembers] ADD  DEFAULT ('1900-01-01T00:00:00.000') FOR [CreatedDate]
GO
ALTER TABLE [dbo].[MeetingResults] ADD  DEFAULT ((0)) FOR [CreatedById]
GO
ALTER TABLE [dbo].[MeetingResults] ADD  DEFAULT ('1900-01-01T00:00:00.000') FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Meetings] ADD  DEFAULT ((0)) FOR [CreatedById]
GO
ALTER TABLE [dbo].[Meetings] ADD  DEFAULT ('1900-01-01T00:00:00.000') FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Meetings] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[SecRolePermissions] ADD  DEFAULT ((0)) FOR [SecResourceId]
GO
ALTER TABLE [dbo].[SecRolePermissions] ADD  DEFAULT ((0)) FOR [SecRoleId]
GO
ALTER TABLE [dbo].[SecUserRoles] ADD  DEFAULT ((0)) FOR [SecUserId]
GO
ALTER TABLE [dbo].[Addresses]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Addresses_dbo.Districts_DistrictId] FOREIGN KEY([DistrictId])
REFERENCES [dbo].[Districts] ([DistrictId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Addresses] CHECK CONSTRAINT [FK_dbo.Addresses_dbo.Districts_DistrictId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Discussions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Discussions_dbo.Meetings_MeetingId] FOREIGN KEY([MeetingId])
REFERENCES [dbo].[Meetings] ([MeetingId])
GO
ALTER TABLE [dbo].[Discussions] CHECK CONSTRAINT [FK_dbo.Discussions_dbo.Meetings_MeetingId]
GO
ALTER TABLE [dbo].[Districts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Districts_dbo.Countries_CountryId] FOREIGN KEY([CountryId])
REFERENCES [dbo].[Countries] ([CountryId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Districts] CHECK CONSTRAINT [FK_dbo.Districts_dbo.Countries_CountryId]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Employees_dbo.Departments_DepartmentId] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Departments] ([DepartmentId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_dbo.Employees_dbo.Departments_DepartmentId]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Employees_dbo.Designations_DesignationId] FOREIGN KEY([DesignationId])
REFERENCES [dbo].[Designations] ([DesignationId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_dbo.Employees_dbo.Designations_DesignationId]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Employees_dbo.EmployeeTypes_EmployeeTypeId] FOREIGN KEY([EmployeeTypeId])
REFERENCES [dbo].[EmployeeTypes] ([EmployeeTypeId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_dbo.Employees_dbo.EmployeeTypes_EmployeeTypeId]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Employees_dbo.Offices_OfficeId] FOREIGN KEY([OfficeId])
REFERENCES [dbo].[Offices] ([OfficeId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_dbo.Employees_dbo.Offices_OfficeId]
GO
ALTER TABLE [dbo].[Entertainments]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Entertainments_dbo.Meetings_MeetingId] FOREIGN KEY([MeetingId])
REFERENCES [dbo].[Meetings] ([MeetingId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Entertainments] CHECK CONSTRAINT [FK_dbo.Entertainments_dbo.Meetings_MeetingId]
GO
ALTER TABLE [dbo].[Implementations]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Implementations_dbo.Employees_EmployeeId] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([EmployeeId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Implementations] CHECK CONSTRAINT [FK_dbo.Implementations_dbo.Employees_EmployeeId]
GO
ALTER TABLE [dbo].[Logistics]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Logistics_dbo.Venues_VenueId] FOREIGN KEY([VenueId])
REFERENCES [dbo].[Venues] ([VenueId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Logistics] CHECK CONSTRAINT [FK_dbo.Logistics_dbo.Venues_VenueId]
GO
ALTER TABLE [dbo].[MeetingAgendas]  WITH CHECK ADD  CONSTRAINT [FK_dbo.MeetingAgendas_dbo.Employees_EmployeeId] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([EmployeeId])
GO
ALTER TABLE [dbo].[MeetingAgendas] CHECK CONSTRAINT [FK_dbo.MeetingAgendas_dbo.Employees_EmployeeId]
GO
ALTER TABLE [dbo].[MeetingAgendas]  WITH CHECK ADD  CONSTRAINT [FK_dbo.MeetingAgendas_dbo.Meetings_MeetingId] FOREIGN KEY([MeetingId])
REFERENCES [dbo].[Meetings] ([MeetingId])
GO
ALTER TABLE [dbo].[MeetingAgendas] CHECK CONSTRAINT [FK_dbo.MeetingAgendas_dbo.Meetings_MeetingId]
GO
ALTER TABLE [dbo].[MeetingFileUploads]  WITH CHECK ADD  CONSTRAINT [FK_dbo.MeetingFileUploads_dbo.Meetings_MeetingId] FOREIGN KEY([MeetingId])
REFERENCES [dbo].[Meetings] ([MeetingId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MeetingFileUploads] CHECK CONSTRAINT [FK_dbo.MeetingFileUploads_dbo.Meetings_MeetingId]
GO
ALTER TABLE [dbo].[MeetingLoggers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.MeetingLoggers_dbo.Meetings_MeetingId] FOREIGN KEY([MeetingId])
REFERENCES [dbo].[Meetings] ([MeetingId])
GO
ALTER TABLE [dbo].[MeetingLoggers] CHECK CONSTRAINT [FK_dbo.MeetingLoggers_dbo.Meetings_MeetingId]
GO
ALTER TABLE [dbo].[MeetingLoggers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.MeetingLoggers_dbo.Venues_VenueId] FOREIGN KEY([VenueId])
REFERENCES [dbo].[Venues] ([VenueId])
GO
ALTER TABLE [dbo].[MeetingLoggers] CHECK CONSTRAINT [FK_dbo.MeetingLoggers_dbo.Venues_VenueId]
GO
ALTER TABLE [dbo].[MeetingMembers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.MeetingMembers_dbo.Employees_EmployeeId] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([EmployeeId])
GO
ALTER TABLE [dbo].[MeetingMembers] CHECK CONSTRAINT [FK_dbo.MeetingMembers_dbo.Employees_EmployeeId]
GO
ALTER TABLE [dbo].[MeetingMembers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.MeetingMembers_dbo.Meetings_MeetingId] FOREIGN KEY([MeetingId])
REFERENCES [dbo].[Meetings] ([MeetingId])
GO
ALTER TABLE [dbo].[MeetingMembers] CHECK CONSTRAINT [FK_dbo.MeetingMembers_dbo.Meetings_MeetingId]
GO
ALTER TABLE [dbo].[MeetingResults]  WITH CHECK ADD  CONSTRAINT [FK_dbo.MeetingResults_dbo.Employees_EmployeeId] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([EmployeeId])
GO
ALTER TABLE [dbo].[MeetingResults] CHECK CONSTRAINT [FK_dbo.MeetingResults_dbo.Employees_EmployeeId]
GO
ALTER TABLE [dbo].[MeetingResults]  WITH CHECK ADD  CONSTRAINT [FK_dbo.MeetingResults_dbo.Meetings_MeetingId] FOREIGN KEY([MeetingId])
REFERENCES [dbo].[Meetings] ([MeetingId])
GO
ALTER TABLE [dbo].[MeetingResults] CHECK CONSTRAINT [FK_dbo.MeetingResults_dbo.Meetings_MeetingId]
GO
ALTER TABLE [dbo].[Meetings]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Meetings_dbo.Employees_EmployeeId] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([EmployeeId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Meetings] CHECK CONSTRAINT [FK_dbo.Meetings_dbo.Employees_EmployeeId]
GO
ALTER TABLE [dbo].[Meetings]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Meetings_dbo.Venues_VenueId] FOREIGN KEY([VenueId])
REFERENCES [dbo].[Venues] ([VenueId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Meetings] CHECK CONSTRAINT [FK_dbo.Meetings_dbo.Venues_VenueId]
GO
ALTER TABLE [dbo].[SecResourcePermissions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SecResourcePermissions_dbo.SecResourcePermissions_Parent_SecResourcePermissionId] FOREIGN KEY([Parent_SecResourcePermissionId])
REFERENCES [dbo].[SecResourcePermissions] ([SecResourcePermissionId])
GO
ALTER TABLE [dbo].[SecResourcePermissions] CHECK CONSTRAINT [FK_dbo.SecResourcePermissions_dbo.SecResourcePermissions_Parent_SecResourcePermissionId]
GO
ALTER TABLE [dbo].[SecResourcePermissions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SecResourcePermissions_dbo.SecResources_SecResourceId] FOREIGN KEY([SecResourceId])
REFERENCES [dbo].[SecResources] ([SecResourceId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SecResourcePermissions] CHECK CONSTRAINT [FK_dbo.SecResourcePermissions_dbo.SecResources_SecResourceId]
GO
ALTER TABLE [dbo].[SecResourcePermissions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SecResourcePermissions_dbo.SecRoles_SecRoleId] FOREIGN KEY([SecRoleId])
REFERENCES [dbo].[SecRoles] ([SecRoleId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SecResourcePermissions] CHECK CONSTRAINT [FK_dbo.SecResourcePermissions_dbo.SecRoles_SecRoleId]
GO
ALTER TABLE [dbo].[SecRolePermissions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SecRolePermissions_dbo.SecResources_SecResourceId] FOREIGN KEY([SecResourceId])
REFERENCES [dbo].[SecResources] ([SecResourceId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SecRolePermissions] CHECK CONSTRAINT [FK_dbo.SecRolePermissions_dbo.SecResources_SecResourceId]
GO
ALTER TABLE [dbo].[SecRolePermissions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SecRolePermissions_dbo.SecRoles_SecRoleId] FOREIGN KEY([SecRoleId])
REFERENCES [dbo].[SecRoles] ([SecRoleId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SecRolePermissions] CHECK CONSTRAINT [FK_dbo.SecRolePermissions_dbo.SecRoles_SecRoleId]
GO
ALTER TABLE [dbo].[SecUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SecUserRoles_dbo.SecRoles_SecRoleId] FOREIGN KEY([SecRoleId])
REFERENCES [dbo].[SecRoles] ([SecRoleId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SecUserRoles] CHECK CONSTRAINT [FK_dbo.SecUserRoles_dbo.SecRoles_SecRoleId]
GO
ALTER TABLE [dbo].[SecUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SecUserRoles_dbo.SecUsers_SecUserId] FOREIGN KEY([SecUserId])
REFERENCES [dbo].[SecUsers] ([SecUserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SecUserRoles] CHECK CONSTRAINT [FK_dbo.SecUserRoles_dbo.SecUsers_SecUserId]
GO
ALTER TABLE [dbo].[Venues]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Venues_dbo.Addresses_AddressId] FOREIGN KEY([AddressId])
REFERENCES [dbo].[Addresses] ([AddressId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Venues] CHECK CONSTRAINT [FK_dbo.Venues_dbo.Addresses_AddressId]
GO
/****** Object:  StoredProcedure [dbo].[spDateWiseMeeting]    Script Date: 05/02/19 12:32:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROC [dbo].[spDateWiseMeeting]
(
	@startDate date,
	@endDate date,
	@venueId int = null,
	@employeeId int = null
)
AS 

BEGIN

SELECT
		mt.MeetingId,
		mt.MeetingName, 
		mt.BeginningTime,
		mt.EndTime,
		mt.EmployeeId,
		emp.EmployeeName,
		mt.VenueId,
		vn.VenueName
FROM Meetings mt
JOIN Employees emp ON mt.EmployeeId = emp.EmployeeId
JOIN Venues vn ON mt.VenueId = vn.VenueId

WHERE		mt.BeginningTime>=@startDate AND mt.EndTime<=@endDate
				AND (mt.VenueId = @venueId or @venueId is null )AND( mt.EmployeeId = @employeeId or @employeeId is null)

END
GO
/****** Object:  StoredProcedure [dbo].[spMeeting]    Script Date: 05/02/19 12:32:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spMeeting]

AS 
BEGIN
SELECT
		mt.MeetingId,
		mt.MeetingName,
		mt.BeginningTime,
		mt.EndTime,
		mt.EmployeeId,
		emp.EmployeeName,
		mt.VenueId,
		vn.VenueName
FROM Meetings mt
JOIN Employees emp ON mt.EmployeeId = emp.EmployeeId
JOIN Venues vn ON mt.VenueId = vn.VenueId

END





GO
/****** Object:  StoredProcedure [dbo].[sprMeetingInfo]    Script Date: 05/02/19 12:32:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sprMeetingInfo]

AS 
BEGIN
SELECT
		mt.MeetingId,
		mt.MeetingName,
		mt.BeginningTime,
		mt.EndTime,
		mt.EmployeeId,
		emp.EmployeeName,
		mt.VenueId,
		vn.VenueName
FROM Meetings mt
JOIN Employees emp ON mt.EmployeeId = emp.EmployeeId
JOIN Venues vn ON mt.VenueId = vn.VenueId

END
GO
