@{
    ViewBag.Title = "Home Page";

}

<div class="jumbotron">

    <h1>Meeting Management System</h1>
    <p class="lead">Developed By :<a href="http://systechdigital.com/"> Systech Digital Limited.</a></p>
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>