@model MeetingManagementSystem.Models.Logistic
@{
    ViewBag.Title = "Logistic";
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/lib/Messages.js"></script>
<script src="~/Scripts/lib/notifit.js"></script>
<script src="~/Scripts/lib/AjaxManager.js"></script>
<link href="~/Content/notifIt.css" rel="stylesheet" />

@Styles.Render("~/styles/DataTable")

<style>
    .dt-center {
        text-align: center;
    }

    .spnDataTableEdit {
        font-weight: bold;
        color: #0083bd;
        margin-left: 10px;
        cursor: pointer;
    }

    .spnDataTableDelete {
        font-weight: bold;
        color: red;
        margin-left: 10px;
        cursor: pointer;
    }

    .required {
        color: red;
    }
</style>
<h3>Logistic</h3>
<div class="row" style="position: relative;">
    <div class="col-md-12" style="padding: 0 10px 0">

        @*modal start*@
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">Add Logistic</h4>
                    </div>

                    <div class="modal-body">
                        <form id="logisticForm">
                            <div class="form-horizontal">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Logistic Name : </label><span id="logisticNameMsg"></span>
                                    <div class="col-md-8">
                                        <input class="form-control" id="logisticNameTxt" name="LogisticName" type="text" value="" placeholder="Logistic Name" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-4 control-label">Available : </label><span id="availableMsg"></span>
                                    <div class="col-md-8">
                                        <input class="form-control" id="availableTxt" name="Availbale" type="text" value="" placeholder="Available" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-lg-4 control-label">Venue :</label><span id="venueMsg"></span>
                                    <div class="col-lg-8">
                                        @Html.DropDownListFor(dsg => dsg.VenueId, new SelectList("", ""), new { @Class = "form-control resizeInput select2" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-offset-4 col-md-8">
                                        <div class="pull-right" style="margin-right: 18px">
                                            <button style="margin-right: 5px; width: 70px" id="saveButton" type="button" class="btn btn-success">Save</button>
                                            <input style="width: 70px" id="clearButton" type="reset" value="Clear" class="btn btn-primary" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        @*modal end*@

    </div>
    <div class="col-md-12" style="margin-top: 0px">
        <div>
            <button id="openModalButton" data-toggle="modal" data-target="#myModal" class="btn btn-success">Add New</button>
        </div>
        <div class="panel panel-info" style="margin-top: 8px">
            <div class="panel-heading text-center"><span class="panelHeadText">List of Logistic</span></div>
            <div class="panel-body">
                <div class="table table-responsive">
                    <table id="tableElement" class="table table-bordered table-striped table-condensed" style="width: 100%"></table>
                </div>
            </div>
        </div>
    </div>

</div>
@Scripts.Render("~/bundles/DataTable")
<script src="~/Scripts/Custom/Logistic.js"></script>